<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">cris709</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost/datosclub</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.search.autoregister_listeners">false</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.transaction.auto_close_session">false</property>
  <property name="hibernate.validator.apply_to_ddl">false</property>
  <mapping resource="ar/com/ProyectoClub/CModelo/DRepository/Archivoshbm/Personas.hbm.xml"/>
  <mapping resource="ar/com/ProyectoClub/CModelo/DRepository/Archivoshbm/Usuario.hbm.xml"/>
  <mapping resource="ar/com/ProyectoClub/CModelo/DRepository/Archivoshbm/Cuota.hbm.xml"/>
  <mapping resource="ar/com/ProyectoClub/CModelo/DRepository/Archivoshbm/Inmuebles.hbm.xml"/>
  <mapping resource="ar/com/ProyectoClub/CModelo/DRepository/Archivoshbm/Caja.hbm.xml"/>
  <mapping resource="ar/com/ProyectoClub/CModelo/DRepository/Archivoshbm/Alquiler.hbm.xml"/>
  <mapping resource="ar/com/ProyectoClub/CModelo/DRepository/Archivoshbm/Conceptos.hbm.xml"/>
  <mapping resource="ar/com/ProyectoClub/CModelo/DRepository/Archivoshbm/Categoria.hbm.xml"/>
  <mapping resource="ar/com/ProyectoClub/CModelo/DRepository/Archivoshbm/Socios.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
